@import 'variables';




.darkblue-bck{
    background-color:$darkblue-bck;
    height: auto;
}
.content-side{
    background-color:$beigecolor;
    height:auto;
}

.logo-side a{
    color: #fff !important;
}
.rolesearch-btn{
    border-radius: 20px !important;
    padding: 10px;
    width: 50%;
}