// @import '.../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'header';
@import 'navbar';
@import 'variables';
@import 'content';

html, body {
    height: 100%;
    margin: 0;
  }

  .seperate-content{
    margin-top: 20px;
  }
  
p{
  font-family: 'Open Sans', sans-serif;
}
.text-centered{
  text-align: center;
}